<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> CALCULO LETRA DNI </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div>
  {{titulo}}
  <ion-item>
    <ion-label>NUMÉRO DE DNI</ion-label>
    <ion-input type="number" [(ngModel)]="numero" placeholder="000"></ion-input>
  </ion-item>
  <ion-button (click)="calcularLetra()" expand="block">CALCULA LETRA</ion-button>
<div *ngIf="letra"> SU LETRA ES {{letra}}</div>
<ion-list *ngIf="lista_dnis && lista_dnis.length>0" [inset]="false" lines="inset">
  <ion-item *ngFor="let ndni of lista_dnis">
    <ion-label>{{ndni}}</ion-label>
  </ion-item>
</ion-list>
<ion-label>DNI mayor que 10</ion-label>
<ion-list *ngIf="lista_result && lista_result.length>0">
  <ion-item *ngFor="let resultado of lista_result">
    <ion-label>{{resultado}}</ion-label>
  </ion-item>
</ion-list>
</div>
</ion-content>